@charset "utf-8";
/* CSS Document */


/*
Rubrik: Stencil Std
Meny: Tempus Sans ITC (Neucha från google fonts)


*/



@font-face {
    font-family: 'stencilregular';
    src: url('fonter/stencil-webfont.woff2') format('woff2'),
         url('fonter/stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
  margin: 0;
  padding: 0;

}

#storbox{

  height: 100%;
  width: 100%;
  position: absolute;

}

h1 {
	font-family: stencilregular;
	font-size: 50px;
	color: red;
  height: 100%;
  /*border: 1px solid green;*/




}


/*Header och nav*/
#topp {
  height: 50px;
  width: 100%;
  border-bottom: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; /*sätter nav i botten av #topp */
  /*overflow: hidden;*/

}
#bankpressSvartvit{
  height: 100%;
  float: left;
/*  border: 1px solid #000;*/
}

header {
  height:100%;
  /*width: 50%;      behövs inte..?*/

  /*float: left;*    behövs inte...?*/
  flex-grow: 1,5;
  min-width: 400px;
}



nav {
  height: 50%;
  /*width: 50%;*/

  flex-grow: 1;
  /*som parent*/
  display: flex;
  justify-content : flex-end; /* #meny lägger sig till höger*/

}

#meny {/* det är en ul*/
	list-style-type: none;
	width: 350px;
	/*parent till li*/
	display: flex;
  justify-content: space-around;
  align-items: flex-end;




}
#meny li {

/*Länken fyller ut hela*/


}


#meny li a {
	font-family: 'Neucha', cursive;
	/*float: left;*/
  font-size: 22px;
  line-height: 100%;
	color: black;





/*Effekt*/
}
#meny li a:hover {
	text-decoration: underline;
	color: red;
}













@media screen and (max-width: 480px) {
	#bankpressSvartvit{
  		position: absolute;
		height: 0;
		width: 0;

}


}
