@charset "utf-8";
/* CSS Document */


/*
Rubrik: Stencil Std
Meny: Tempus Sans ITC (Neucha från google fonts)


*/



@font-face {
    font-family: 'stencilregular';
    src: url('fonter/stencil-webfont.woff2') format('woff2'),
         url('fonter/stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
  margin: 0;
  padding: 0;



}

#storbox{

  height: 100%;
  width: 100%;
  position: absolute;

}

h1 {
	font-family: stencilregular;
	font-size: 50px;
	color: red;
  /*line-height: 0.75em;*/
  line-height: 1ex;
  border: 1px solid #000;
}


/*Header och nav*/
#topp {
  height: 50px;
  width: 100%;
  border-bottom: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; /*sätter nav i botten av #topp */
  /*overflow: hidden;*/
  position: fixed;
  background-color: white;

}
#bankpressSvartvit{
  height: 90%;
  padding-right: 10px;
/*  border: 1px solid #000;*/
}

header {
  height:100%;
  flex-grow: 1,5;
  min-width: 400px;

  /*parent till img och bankpresssvartvit*/
  display: flex;
  align-items: flex-end; /*lägger bänken längst ner*/
}



nav {
  /*height: 50%; onödig då det är länkarna som bestämmer höjden*/
  /*width: 50%;*/
  padding-bottom: 2px;

  flex-grow: 1;
  /*som parent*/
  display: flex;
  justify-content : flex-end; /* #meny lägger sig till höger*/

}

#meny {/* det är en ul*/
	list-style-type: none;
	width: 350px;
	/*parent till li*/
	display: flex;
  justify-content: space-around;
  align-items: flex-end; /*lägger menyn längst ner*/




}
#meny li {

/*Länken fyller ut hela*/


}


#meny li a {
	font-family: 'Neucha', cursive;
	/*float: left;*/
  font-size: 22px;
  line-height: 100%;
	color: black;

}



/*Effekt*/
}
#meny li a:hover {
	text-decoration: underline;
	color: red;
}


article{
  padding-top: 50px;

}


@media screen and (max-height: 400px) {
	#bankpressSvartvit{
  	/*position: absolute;*/
		/*height: 0;*/
		/*width: 0;*/

}

#topp{
  height: 30px;
}
h1{
  font-size: 30px;

}
article{
  padding-top: 30px;

}
#meny li a{
  font-size: 20px;

}
nav{
  padding-bottom: 1px;

}
}




@media screen and (max-width: 80px) {
	#bankpressSvartvit{
  	position: absolute;
		height: 0;
		width: 0;

}

}
