@charset "utf-8";
/* CSS Document */


/*
Rubrik: Stencil Std
Meny: Tempus Sans ITC (Neucha från google fonts)


*/



@font-face {
    font-family: 'stencilregular';
    src: url('fonter/stencil-webfont.woff2') format('woff2'),
         url('fonter/stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
}

#storbox{

  height: 100%;
  width: 100%;
  position: absolute;
}

/*Rubrik + Meny*/
#topp {
  height: 60px;
  height: 6rem;


  width: 100%;
  border-bottom: 3px solid red;
  border-bottom: 0.3rem solid red;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; /*sätter nav i botten av #topp */
  /*overflow: hidden;*/
  position: fixed;
  background-color: white;

}


/**    Rubrik     **/
header {
  height:100%;
  flex-grow: 1,5;
  min-width: 400px;
  min-width: 40rem;

  /*parent till img och bankpresssvartvit*/
  display: flex;
  align-items: flex-end; /*lägger bänken längst ner*/
}

#bankpressSvartvit{
  height: 90%;
  padding-right: 10px;
  padding-right: 1rem;
}

#huvudrubrik {
	font-family: stencilregular;
	/*font-size: 50px;*/
  font-size: 6rem;
  box-sizing: border-box;
	color: red;
  line-height: 75%;
}


/**    Meny:   **/
nav {

  padding-bottom: 2px;
  padding-bottom: 0.2rem;
  padding-bottom: 0;

  flex-grow: 1;
  /*som parent*/
  display: flex;
  justify-content : flex-end; /* #meny lägger sig till höger*/

}

#meny {/* det är en ul*/
	list-style-type: none;
	width: 350px;
  width: 35rem;
	/*parent till li*/
	display: flex;
  justify-content: space-around;
  align-items: flex-end; /*lägger menyn längst ner*/
}

.menylank {
	font-family: 'Neucha', cursive;
  font-size: 22px;
  font-size: 2.2rem;
	color: black;
  text-decoration: none;

}
.menylank:hover {
  text-decoration: underline;


}
#aktiv{
  color: red;
  text-decoration: underline;
  font-weight: bold;
}


article{
  padding-top: 50px;
  padding-top: 5rem;

}
p {
  font-size: 2rem;

}

@media screen and (max-width: 400px) {

  html{
    font-size: 50%;


  }
  #bankpressSvartvit{
    height: 0;
    width: 0;
  }
  #topp{
    align-items: center;
  }
  header{
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #000;
  }
  #huvudrubrik{

  }



}
