@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: 'stencilregular';
    src: url('fonter/stencil-webfont.woff2') format('woff2'), url('fonter/stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

#storbox {
    height: 100%;
    width: 100%;
    position: absolute;
}


/*Rubrik + Meny*/
#topp {
    height: 6rem;
    width: 100%;
    border-bottom: 0.3rem solid red;
    position: fixed;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}


/**    Rubrik     **/
header {
    height: 100%;
    flex-grow: 1, 5;
    background-color: white;
    display: flex;
    /*parent till img och bankpresssvartvit*/
    align-items: flex-end;
    /*lägger bänken längst ner*/
}

header a {
    text-decoration: none;
}

#bankpressSvartvit {
    height: 90%;
    padding-right: 10px;
    padding-right: 1rem;
}

#huvudrubrik {
    font-family: stencilregular;
    /*font-size: 50px;*/
    font-size: 6rem;
    box-sizing: border-box;
    color: red;
    line-height: 75%;
}

#menyknapp {
    height: 0;
    width: 0;
}


/**    Meny:   **/

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#barbell {
    pointer-events: none;
    float: right;
    height: 6rem;
    width: 20%;

    z-index: 1;
    opacity: 0.4;

    position: fixed;
    left: 80%;



}

#meny {
    list-style-type: none;
    width: 35rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.menylank {
    font-family: 'Neucha', cursive;
    font-size: 2.2rem;
    color: black;
    text-decoration: none;
}

.menylank:hover {
    text-decoration: underline;
}

#aktiv {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

article {
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    box-sizing: border-box;
}


/****  Bildspel ****/
#bildspel {
    box-sizing: border-box;
    border: 0.5rem solid red;
    border-radius: 0.4rem;
    margin: auto;
    max-width: 766px;
    width: 100%;
}

.inaktivBild {
    width: 0%;
}

.aktivBild {
    width: 100%;
}

#undertext {
    height: 6rem;
    max-width: 766px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bildNamn {
    font-size: 4rem;
    padding-top: 1rem;
    padding-left: 1rem;
    color: white;
    font-family: 'Neucha', cursive;
}

#bildNamnMobil {
    font-size: 4rem;
    padding-left: 1rem;
    color: black;
    padding-top: 2rem;
    text-align: center;
    font-family: 'Neucha', cursive;
}

#kontroller {
    height: 6rem;
    width: 23rem;
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}

#pilbox {
    height: 6rem;
    width: 10rem;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bildspelspil {
    height: 70%;
    cursor: pointer;
}

.playPause {
    height: 120%;
    cursor: pointer;
}


/*** Infobox ***/
.infobox {
    margin-top: 2rem;
}

.infoboxMinusPilar {
    box-sizing: border-box;
    width: 100%;
    max-height: 30rem;
    /*auto för att expandera*/
    overflow: hidden;
    border: 0.5rem solid red;
    border-radius: 0.5rem;
}

.platsForRubrikOchBild {
    height: 30rem;
    float: left;
}

.platsForRubrikOchBild img {
    height: 70%;
    padding: 0 2rem 0 2rem;
}

.infoboxMinusPilar h2 {
    height: 20%;
    display: block;
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: center;
    font-family: stencilregular;
    color: red;
}

.infoboxMinusPilar p {
    font-size: 3rem;
    padding: 1rem;
}

.infoboxMinusPilar h3 {
    font-size: 3rem;
    padding-left: 1rem;
}

.infoboxMinusPilar #tillbehorlista {
    list-style-position: inside;
    font-size: 3rem;
    padding: 1em;
}

.pil:hover {
    width: 2.9%;
}

.uppNerPilar {
    height: 4rem;
    width: 100%;
    position: relative;
    top: -4.5rem;
    left: 0.5rem;
    margin-bottom: -4rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.fadebox {
    width: 96%;
    height: 5rem;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.fade {
    width: 100%;
    height: 5rem;
}

.pil {
    width: 4%;
    min-width: 5rem;
    height: auto;
    padding-bottom: 0.2rem;
    position: relative;
    box-sizing: border-box;
    background-color: white;
}

#regler, #tillbehor {
    padding: 10rem 5rem 0 5rem;
}

.textlank {
    font-family: 'Neucha', cursive;
    font-size: 3rem;
    color: black;
    text-decoration: none;
}

.textlank:hover, .textlank:active {
    text-decoration: underline;
}

#regler a:active {
    color: red;
}

.lankdestination {
    position: relative;
    top: -6rem;
}


/*** Tillbehör ***/

#bilderOchCirklar {
    margin: auto;
    width: 40%;
    min-width: 520px;
    margin-top: 10rem;
    border: 0.5rem solid red;
    border-radius: 0.4rem;
}

#klickbarBild {
    width: 100%;
}

.cirkelLank {
    width: 15%;
    height: 15%;
    float: left;
    position: relative;
    top: 15%;
    margin-bottom: -15%;
}

.cirkel {
    height: 100%;
    width: 100%;
}

.cirkelLank:hover {
    cursor: pointer;
}

#tillbehorUndertext {
    font-size: 3rem;
    text-align: center;
}


/***Styrkelyftare***/
#varldsmastare {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.styrkelyftare {
    display: block;
    list-style-type: none;
    padding: 1rem;
}

.styrkelyftare li {
    font-size: 2.5rem;
    box-sizing: border-box;
    border-bottom: 0.2rem solid red;
}

.svar {
    float: right;
    padding-left: 3rem;
}

.varldsmastarebox {
    max-width: 500px;
    padding: 1rem;
    max-height: auto;
    box-sizing: border-box;
    border: 0.5rem solid red;
    border-radius: 0.5rem;
    margin-top: 5rem;
}

.varldsmastarebox .platsForRubrikOchBild {
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.varldsmastarebox .platsForRubrikOchBild img {
    height: 20rem;
    margin: auto;
    margin-bottom: 1rem;
    border: 0.3rem solid red;
    border-radius: 0.3rem;
    padding: 0;
}

.varldsmastarebox .platsForRubrikOchBild h2 {
    font-size: 3rem;
    text-align: center;
    font-family: stencilregular;
    color: red;
}

@media screen and (max-width: 810px) {
    html {
        font-size: 40%;
    }
    #bankpressSvartvit {
        display: none;
    }
    #barbell{
        width: 0;
    }
    #topp {
        height: auto;
        border-bottom: none;
        padding-top: 1.7rem;
        box-sizing: border-box;
        width: 100%;
    }
    header {
        box-sizing: border-box;
        width: 100%;
        padding: 0.3rem;
        border-bottom: 0.6rem solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #huvudrubrik {
        padding: 0;
        margin: 0;
    }
    #menyknapp {
        height: 4rem;
        width: 4rem;
        margin-bottom: 1rem;
    }
    #meny {
        /* är en ul*/
        display: block;
        width: 100%;
    }
    nav {
        display: inline;
        /*tar bort display: block*/
        width: 100%;
    }
    .stangd {
        height: 0;
        display: none;
        overflow: hidden;
    }
    .menylank {
        float: left;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 0.4rem solid red;
        background-color: white;
        margin: 0;
        padding: 0.7rem;
        font-size: 2.2rem;
        color: black;
        text-decoration: none;
        font-size: 4rem;
    }
    nav:last-child {
        border-bottom: 0.2rem solid red;
    }
}

@media screen and (max-width: 768px) {
    #bildspel {
        border-right: 0;
        border-left: 0;
    }
}

@media screen and (max-width: 540px) {
    #bilderOchCirklar {
        border-left: 0;
        border-right: 0;
        min-width: 100%;
    }
    #tillbehor {
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    #regler {
        padding: 10rem 0rem 5rem 0rem;
    }
    .platsForRubrikOchBild {
        height: auto;
        width: 100%;
        box-sizing: border-box;
    }
    .platsForRubrikOchBild img {
        height: 20rem;
        margin: auto;
    }
    .varldsmastarebox {
        width: 100%;
        border-left: 0;
        border-right: 0;
    }
    #undertext {
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 30%;
    }
}

@media screen and (max-width: 300px) {
    html {
        font-size: 25%;
    }
}

@media screen and (max-width: 250px) {
    html {
        font-size: 20%;
    }
}

@media screen and (max-width: 200px) {
    html {
        font-size: 15%;
    }
}

@media screen and (max-width: 150px) {
    html {
        font-size: 10%;
    }
}
